node {
    fill-color: black;
    text-size: 12px;
    text-style: bold;
    text-alignment: above;
    size: 15px;
}

node.input {
    fill-color: red;
    size: 25px;
}

node.output {
    fill-color: blue;
    size: 25px;
}

node.inactive {
    fill-color: orange;
    size: 5px;
    text-color: gray;
}

node.white {
    text-size: 24px;
    fill-color: white;
    size: 0px;
    text-color: green;
}

edge.inactive {
    fill-color: gray;
}